<div class="container">
	<h3>Edit Improvement</h3>
	<br>
	<%= render 'form', improvement: @improvement %>
	
	<hr>
	<%= link_to lists_path  do%><i class="fa fa-arrow-left"></i><% end %> |
	<%= link_to @improvement do %><i class="fa fa-binoculars"></i><% end %>
</div>

