<div class="container">
	<h3>New Improvement</h3>
	<br>
	<%= render 'form', improvement: @improvement %>
	<br>
	<%= link_to improvements_path  do%><i class="fa fa-arrow-left"></i><% end %></td>
</div>