<% provide(:page_title, 'Home') %>
<% provide(:home_active, 'active') %>

<div class="d-flex justify-content-center">
	<img src="/assets/homepage/babysteps.png" class="img-fluid" alt="Responsive image">
</div>
<br>
<div class="jumbotron one d-flex justify-content-center">
	<p><a class="display-6">&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  We were born</a><br>
	<a>&emsp; &emsp;  with the <b><i>power</i></b> of <b>FOCUS</b>. </a><br>
			<a>&emsp; &emsp; &emsp; &emsp; &ensp;&emsp; &emsp; &emsp; &emsp; Yes! You still have it.</a><br>
			    <a>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; So, go back to basics, </a><br>
			 <a>&emsp;&emsp;  &emsp; &emsp; &emsp;&emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp;<b>FOCUS</b> and you will get it </b></a>
			 		<!--<a>&emsp;&emsp;&emsp;  &emsp; &emsp; &emsp;&emsp;&emsp; &emsp;anything you Focus on.</a> -->
	</p>
</div>
<br>
<br>
<div class="text-center">
	<p>
		<h2>What is Listis?</h2> 
		&emsp;&emsp;&emsp;<h5><i>Listis is a tool you use to stay focus and achieve your GOALS!!<i></h5>
	</p>
</div>
<br>
<br>
<br>
<br>
<div class="d-flex p-1 justify-content-center"">
	<h2>Achieve your Goals in 3 steps</h2>
</div>
<div class="jumbotron p-1 cards">
	<div class="row">
		<div class="card one col-xs-12 col-md-4 col-lg-4">
		<br>	  		
  			<h5>1. Create Account</h5>
  			<br>
  			<p>Click on <a class="signup" href="/users/sign_up">Sign up</a> and create your free account</p>
		</div>
		<div class="card two col-xs-12 col-md-4 col-lg-4">			
		<br>
	  		<h5>2. Set Goals</h5>
	  		<br>
	  		<p>Set your Goals and the steps to get to them with a deadline</p>	
		</div>
		<div class="card three col-xs-12 col-md-4 col-lg-4">			
		<br>
	  		<h5>3. Achieve your Goals!</h5>
	  		<br>
	  		<p>As you go along change between the 3 possible <i>statuses</i> on your steps, you can modify the <i>status</i> as needed. Your aim is to <i><b>Complete</b></i> all your steps </p>		
		</div>
	</div>
</div>
<br>
<br>
<div class="jumbotron p-0">
	<p class="text-center">
		<h5> &emsp;&emsp;  &emsp; &emsp; Don't over complicate it, less is more, just set few goals at the time, achieve them and move on to create few more, you will be amazed by what you can achieve. These are your success lists.
			<p class="text-center"> What are you waiting for?<a class="signup" href="/users/sign_up"> Sign up</a> and start achieving</p></h5>
	</p>
</div>
<br>
<br>




