.home-navbar {
    background-color: transparent;
    padding-left: 3rem !important;
    padding-top: 1rem !important;
    a {
      color: white !important;
    }
    .dropdown-menu.show {
      background-color: transparent;
    }
   .nav-link.active {
      color: #f2fa00 !important;
    }
}
.container-fluid {
    width: 100%;
    padding-right: 0px !important; 
    padding-left: 0px !important; 
}
.layer {
  background-color: #19252bab; //#20433fab is good too.
  position: abosolute;
  top: 0;
  left: 0;
  height: 100%;
  weight: 100%;
}
// very important to get the pic as a baground on the top of the navabar. Make sure you add the image-url tag.
.top {
  background: image-url('listis-top-3.png');
  height:100vh;
  min-height:400px;
  background-size:cover;
  width: 100%
  //background-color: #19252bab;
}
*, *::before, *::after {
 //      box-sizing: unset; 
}

img.Home_img {
    height: 100%;
    width: 100%;
    right: -10px;
    *, *::before, *::after {
    box-sizing: unset;
    }
}

.img-fluid {      
  width: auto;
  height: auto;
  overflow:hidden;
  position: relative;

}
.jbt-home-focus {  
  background-color: #ffffff00 !important;
  margin-bottom: 6rem;
  padding-top: 0 !important;
}
.p-home-focus {
  color: #fafff0;
  font-size: 44px !important;
  background-color: transparent;
  padding-top: 8%;
  text-shadow: -5px 1px 20px #000000;
}

.what-is-li {  
  background-color: #302B2C;
  padding-top: 5%;
  color: white;
    h2{
      font-size: 1.9rem;
      font-weight: 500;
      color: white;
    } 
    p {
      margin-bottom: 0rem;
      line-height: 1.5 !important;
      padding: 10%;
      margin-left: 2%;      
      font-size: 1.6rem;   
      font-weight: 200; 
      
    }
}

img.img_what_listis {
    max-width: 100%;
}

.achieve {
  margin-top: 16%;
}
.achieve-ur-goals {
  //background-color: var(--home-bg-color);
  padding-top: 5% !important;
      h2{
        font-size: 2.7rem !important;
      }
}
.jumbo-three-steps {
      background-color: #ffffffff !important;
      border-radius: 0 !important;
      padding: 0 !important;
      margin-bottom: 1.5rem !important; 
      h2, .h2 {
        font-size: 1.9rem;
      }       
}

.row-three-steps {  
  margin-right: 0px !important;
  margin-left: 0px !important;
      margin-top: 6.5rem
}

.create-account {
  height: 65px;
  width: 30%;
  background-color: transparent;
  margin-left: 35%;
}
.set-goals {
  height: 70px;
  width: 30%;
  background-color: transparent;
  margin-left: 35%;
}
.achieve-goals {
  height: 70px;
  width: 30%;
  background-color: transparent;
  margin-left: 35%;
}

.card {
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
    .one {
        background-color: #f5e5e4;
        border-radius: 0 !important;
        border:  0 !important;
        .signup{
        font-weight: 600;    
        }
    }

    .two {
    	background-color:#f8f2e0;
    	
    }
    .three{
    	background-color: #e2f6d5;
    }
}

.card-title {
  margin-bottom: 1.75rem !important;
  margin-top: 0!important;
}
.card-body {
    flex: 1 1 auto;
    padding-left: 1rem;
    padding-top: 1.5rem;
}
p.card-text {    
    font-size: 1.4rem;
    margin-bottom: 3rem;
    font-weight: 400;
}

p .signup {
    font-weight: 600;
    font-size:  1.4rem;
}

.middle{
  background: image-url('home-middle-part-1.png');
  height:100vh;
  min-height:400px;
  background-size:cover;
}
.row-girl {
    display: 0;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
}
.last-home-center {
  font-size: 29px;
  background-color: white;
  padding-bottom: 7%;
  padding-top: 7%;
  padding-left: 20%;
  padding-right: 20%;
}

.last-part {
    font-size: 29px;
    font-weight: 500 !important;
}

/*---Media Queries --*/
@media (min-width: 1100px) and (orientation: landscape){
  .centered {
      top: 75% !important;
  }
}
@media (min-width: 1020px) { 
  div#notice {
    font-size: 95% !important;
  }
}
@media (max-width: 992px) {
  div#notice {
    font-size: 80%;
  }
}
@media (max-width: 764px) {  
   
}
@media (max-width: 731px)  and (orientation : landscape){
  div#notice {
    font-size: 80%;
  }
}
@media (max-width: 667px)  and (orientation : landscape){ 
  div#notice {
    font-size: 79%;
  }
}
@media (min-width: 576px){
    .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    }
    div#notice {
    font-size: 70%;
  }
}
@media (max-width: 414px) and (orientation : portrait) { 
  div#notice {
    font-size: 80%;
}
 
}
@media (max-width: 375px) and (orientation : portrait) { 
  div#notice {
    font-size: 55%;
  }
}
@media (max-width: 360px) and (orientation : portrait) {  
  div#notice {
    font-size: 60%;
  }
}


