
.one {
    background-color: #f5e5e4;
    .signup{
    font-weight: 600;
    
    }
}

.two {
	background-color:#f8f2e0;
	
}
.three{
	background-color: #e2f6d5;
}


.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #effffd70;
}

p .signup{
    font-weight: 600;
    
}
.cards {
    
}

