// Place all the styles related to the improvements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.improvement-intro {
	font-size :1.43rem;
    font-weight: 300;
	color: #007bff // blue-logo
}