// Place all the styles related to the improvements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    padding-top: 5%;
}


.improvement-intro {
	font-size :1.6rem;
    font-weight: 330;
	color: black;
    .b {
    font-weight: bolder;
    color: #e600fd;
    font-weight: 450;
    }
}

button.btn.-btn-info.thumbs{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0rem 0.75rem !important;
    font-size: 1rem;
    line-height: 1.1;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
br.br-improvement {
    line-height: 7;
}